
		body {
    font-family: arial;

  }

  thead tr{
  	background:#562E07;

  }
	tr td{
		font-size: 22px;
		color:#562E07;
	}

	.p1{
		font-size:15px;
		margin-bottom: 0px;
	}

	.p2{
		font-size: 14px;
		color:silver;margin-top: 0px;
	}

	tr td:nth-of-type(4){
		text-align: left;
	}

	.el{
	width:150px;
	height:35px;
	margin:0 auto;
}

.down{
	height:30px;
	width:50px;		
	background:white;
	float:left;
	border-radius:4px;
	font:22px Arial, sans-serif;
	padding-top: 5px;
	
}

.count_product{
	height:30px;
	width:50px;
	background:white;
	float:left;	
	font:22px Arial, sans-serif;
	padding-top:5px;
}

.up{
	height:30px;
	width:50px;
	background:white;
	float:right;
	border-radius:4px;	
	font:22px Arial, sans-serif;
	padding-top: 5px;
} 

  table {
    border: 1px solid #ccc;
    width: 1024px;
    margin:0 auto;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
  }

  thead tr{
  	height:50px; 
  }
  
  table tr {

    border: 1px solid #ddd;
    padding: 5px;
  }

  table td{
  	height:100px;
  }

  table th, table td {
    text-align: center;
    
  }
	tbody tr:nth-child(odd){
		background:#F0F0F0;
	}

	tbody tr:nth-child(even){
		background:#E4E3E2;
	}

  table th {
    color:white;

	}
	
	.item_summa{
	width:1024px;
	margin:0 auto;
	height:40px;
	margin-top:20px;
}

.item_right{
	width:280px;
	height:35px;
	float:right;
	font:22px Arial, sans-serif;
	padding-top:5px;
	
}

.item_right span{
	color:#562E07;
	margin-left:15px;
	font-weight: bold;
}

.item_left{
	width:215px;
	height:35px;
	float:right;
	background:#926E49;
	border-radius: 4px;
	font:22px Arial, sans-serif;
	color:white;
	padding-top:5px;
	text-align: center;
}
	@media screen and (min-width: 680px) and (max-width: 1023px){
		table {
      border: 0;
      width:100%;
    }

    .item_summa{
    	width:100%;
    }
	}


	@media screen and (min-width: 570px) and (max-width: 679px){
			table {
      border: 0;
      width:100%;
    }

		

		th:nth-of-type(2){
			display:none;
		}

		th:nth-of-type(3){
			display:none;
		}



		tr td:nth-of-type(2){
			display: none;
		}

		tr td:nth-of-type(3){
			display:none;
		}

		.item_summa{
    	width:100%;
    }
	}

  @media screen and (max-width: 569px) {

    table {
      border: 0;
      width:100%;
    }

    table thead {
      display: none;
    }

    table tr {
      margin-bottom: 10px;
      display: block;
      border-bottom: 2px solid #ddd; 

    }
    
tr td:nth-of-type(3){
      display:none;
    }

    table td {
      display: block;
      text-align: right;
      font-size: 18px;
      border-bottom: 1px dotted #ccc;	  
	  min-height:60px;
	  height:auto;
	  box-sizing: content-box;
	  padding-top:10px;
    }
	
    table td:last-child {
      border-bottom: 0;
    }

    table td:before {
      content: attr(data-label);
      float: left;      
      font-weight: bold;
	  font-size:20px;
    line-height: 30px;
    }
    
    .p1{
       font-size: 18px;
       float:right;
    }

    .p2{
      display:none;
    }

.el{
  width:150px;
  height:35px;
  margin:0 auto;
  float:right;
  
}

	.down{
	text-align: center;
}

.count_product{
	text-align: center;
}

.up{
	text-align: center;
} 
    
    .item_summa{
    	width:100%;
    	height:80px;
    }
  }