@model FurnitureStore.Entities.Furniture


<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Content/css/search.css" rel="stylesheet" />

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>



<script type="text/javascript">

    $(function () {
        $("#txtSearch").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("Search" , "Furniture")',
                    data: "{ 'term': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.length > 0) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.Name,
                                    val: item.FurnitureId,
                                    price: item.Price,
                                    avatar: item.Path
                                }
                            }))
                        } else {
                             response([{ label: 'Товар не знайдено. Спробуйте ще раз', val: -1 , price: "" , avatar: "" }]);
                             $(".search-suggest-img").hide();
                             $(".search-suggest-uah").hide();
                            
                        }
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (event, ui) {
                if (ui.item.val == -1) {
                    //Clear the AutoComplete TextBox.
                    $(this).val("");
                    return false;
                }

                $("#hfFurnitureId").val(ui.item.val);
                location.href = "/Furniture/Details/" + ui.item.val;
                
            },
            minLength: 1,
           
        }).data("ui-autocomplete")._renderItem =  function( ul, item )
        {
           
                return $("<li>")
           .attr("ui-autocomplete-item", item.value)
                    .append('<div class = "search-suggest">' + '<div class="search-suggest-img">' +
                    '<a>' + '<img style="width:50px; height:50px; border: none; visibility: visible; zoom: 1; opacity: 1;" src=' + item.avatar + ' />' + '</a>' + '</div>' +
                    '<div class="search-suggest-detail">' + '<div class="search-suggest-title">' + '<a>' + item.label + '</a>' + '</div>' + '<div class="search-suggest-uah inline">' + item.price + " грн" + '</div>' + '</div>')

    .appendTo(ul);

                                                                   
        };
    });


</script>



    <form id="form1">
        <div class="form-group has-feedback">
            <input id="txtSearch" type="text" class="form-control" placeholder="Пошук..." />
            @Html.HiddenFor(model => model.FurnitureId, new { id = "hfFurnitureId" })
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
      
</form>

